.delete-rule {
  cursor: pointer;
}

.rules {
  margin: 0 1em !important;
}

.rule {
  display: flex;
  padding: 3px;
  justify-content: space-evenly;
  align-items: center;
}

.white-box {
  width: 46px;
  height: 24px;
  border-radius: 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
}

.add-button-container {
  display: flex;
  justify-content: space-around;
}

.arrow-down {
  margin: auto !important;
  width: 100% !important;
}

#add-rule {
  cursor: pointer;
  margin-top: 10px;
}
