canvas {
  display: block !important;
  margin: auto;
}

.container {
  display: flex;
  margin: auto;
  width: 800px;
  justify-content: space-evenly;
}

.header {
  display: flex;
  justify-content: space-evenly;
}

.app-600 {
  margin: auto;
  width: 1000px;
}

.app-1200 {
  margin: auto;
  width: 1230px;
}

.grid-card {
  /* width: 600px !important; */
}

.interaction {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: flex-end;
}

.buttons {
  display: flex;
}

.sliders {
  display: flex;
  flex-direction: column;
}

#add-rule {
  cursor: pointer;
}

.ruleColor {
  width: 20px;
  height: 20px;
  border: solid black 1px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.steps {
  position: absolute;
  top: 7px;
  left: 15px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
